<div class="profile__content">
    <section class="content__top">
        <div class="profile__info">
            <div class="profile__left">
                <h1 class="profile-title">{{first_name}} {{last_name}}</h1>
            </div>
        </div>
    </section>

    <div class="content__middle">
        <h3 class="my-recipes-title">My Recipes</h3>
        <hr>
    </div>

    <section class="content__bottom">
        {{#each recipes as |recipe|}}
            <div class="card">
                <div class="card__content">
                    <p>
                        {{recipe_title}}
                    </p>
                </div>
                <div class="card__info">
                    <div>
                        <i class="fa-solid fa-heart"></i>{{ recipe_likes }}
                    </div>
                    <div>
                        <a href="/recipe/{{recipe.id}}" class="card__link">View Recipe</a>
                    </div>
                </div>
            </div>

        {{/each}}
    </section>
</div>
</div>
